<div class="container-fluid p-3" style="overflow-y: hidden !important;">
  <div class="row mt-1 p-3">
    <h2 class="text-dark">IRIS Agile Summary</h2>
  </div>

  <div class="container-execution-charts-align">
    <div class="d-flex justify-content-between">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <app-summary-points-by-module-chart></app-summary-points-by-module-chart>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <app-summary-points-by-manager-chart></app-summary-points-by-manager-chart>
      </div>
    </div>
  </div>
</div>
