<div style="margin-left: 90px;">
  <div class="bg-image">
    <div class="backdrop w-100 text-white pt-5 vh-100">
      <div class="d-flex flex-column align-items-center container" style="text-align: center;">
        <div class="mb-5">
          <img src="/assets/images/hp_logo.png" alt="HP Logo" class="logo-icon" />
        </div>
        <h1 id="logged-user">
          Hi {{ name }}<br />
          welcome to <br /><span class="text-primary mb-0 display-4">IRIS</span>
        </h1>
      </div>
    </div>
  </div>
</div>
