<app-toast></app-toast>
<body>
  <div class="backdrop">
    <div class="container">
      <div class="card">
        <h1 class="title"><b>IRIS</b></h1>
        <h2 class="title">
          Type your e-mail. We will send an e-mail with a link to reset your
          password.
        </h2>
        <form [formGroup]="forgotPasswordForm" class="mb-3" *ngIf="!loading">
          <div class="flex items-center form-group mb-0 card-bo-align">
            <input
              class="form-control form-control-light px-2 fs-24"
              type="email"
              placeholder="Enter your email address"
              aria-label="Email"
              formControlName="email"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-block text-white p-2 p-sm-3 my-2 fs-24"
            (click)="reset()"
          >
            Reset password
          </button>
          <button
            type="submit"
            class="btn btn-primary btn-block text-white p-2 p-sm-3 my-2 fs-24"
            (click)="cancel()"
          >
            Cancel
          </button>
        </form>
        <app-loading [show]="loading" [size]="'5x'"></app-loading>
      </div>
    </div>
  </div>
</body>
